<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jms="http://www.springframework.org/schema/jms" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd  
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd  
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd  
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd  
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
         
    <!-- 线程执行器配置，用于任务注册 -->
	<bean id="executorInfo" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		 <property name="corePoolSize">
            <value>20</value>
        </property>
		<property name="maxPoolSize">
            <value>100</value>
        </property>
		<property name="queueCapacity">
            <value>500</value>
        </property>
        <property name="keepAliveSeconds">
            <value>30000</value>
        </property>
	</bean>
    
     <!-- 要调用的工作类 -->
    <bean id="cacheSchedule" class="com.horse.v7mc.system.ehcache.CacheFlushSchedule"></bean>
    <bean id="monthAccountsSchedule" class="com.horse.v7mc.cashier.controller.MonthAccountsSchedule"></bean>
    <bean id="monthSalarySchedule" class="com.horse.v7mc.financial.controller.MonthSalary"></bean>
    
    <!-- 定义调用对象和调用对象的方法 -->
    <bean id="jobtaskcacheSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="cacheSchedule" />
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>flushallCache</value>
        </property>
    </bean>
    <bean id="jobtaskmonthAccountsSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="monthAccountsSchedule" />
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>monthAccountsSchedule</value>
        </property>
    </bean>
    <bean id="jobtaskmonthSalarySchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject">
            <ref bean="monthSalarySchedule" />
        </property>
        <!-- 调用类中的方法 -->
        <property name="targetMethod">
            <value>monthSalary</value>
        </property>
    </bean>
  
  
    
    <!-- 定义触发时间 -->
    <bean id="jobtaskcacheScheduleTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobtaskcacheSchedule" />
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
           	<!-- 每天凌晨2:30分执行 -->
            <value>0 30 2 * * ?</value>
        </property>
    </bean> 
    
    <bean id="jobtaskmonthAccountsScheduleTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobtaskmonthAccountsSchedule" />
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <!-- 每月的一号上午10点执行-->
            <value>0 0 10 1 * ?</value>
        </property>
    </bean> 
        <bean id="jobtaskmonthSalaryScheduleTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="jobtaskmonthSalarySchedule" />
        </property>
        <!-- cron表达式 -->
        <property name="cronExpression">
            <!-- 每月的二号上午10点执行-->
            <value>0 0 10 2 * ?</value>
           <!--  <value>0/30 * * * * ?</value> -->
           
            
        </property>
    </bean> 
    
   
    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="startQuertz1" lazy-init="true" autowire="no"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
	    		<ref bean="jobtaskcacheScheduleTime" />
	    		<ref bean="jobtaskmonthAccountsScheduleTime" />
	    		<ref bean="jobtaskmonthSalaryScheduleTime" />
            </list>
        </property>
        <property name="taskExecutor" ref="executorInfo" />
    </bean>
</beans>