<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.horse.v7mc.mapperInterface.V7StoreInMapper" >
  <resultMap id="BaseResultMap" type="com.horse.v7mc.po.V7StoreIn" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="v7_s_brand" property="v7SBrand" jdbcType="VARCHAR" />
    <result column="v7_s_type" property="v7SType" jdbcType="VARCHAR" />
    <result column="v7_s_name" property="v7SName" jdbcType="VARCHAR" />
    <result column="v7_s_price" property="v7SPrice" jdbcType="DOUBLE" />
    <result column="v7_s_standard" property="v7SStandard" jdbcType="VARCHAR" />
    <result column="v7_s_unit" property="v7SUnit" jdbcType="VARCHAR" />
    <result column="v7_s_price_count" property="v7SPriceCount" jdbcType="DOUBLE" />
    <result column="v7_s_count" property="v7SCount" jdbcType="INTEGER" />
    <result column="v7_s_oper_user" property="v7SOperUser" jdbcType="VARCHAR" />
    <result column="v7_s_oper_time" property="v7SOperTime" jdbcType="TIMESTAMP" />
    <result column="v7_s_update_user" property="v7SUpdateUser" jdbcType="VARCHAR" />
    <result column="v7_s_update_time" property="v7SUpdateTime" jdbcType="TIMESTAMP" />
    <result column="v7_s_status" property="v7SStatus" jdbcType="INTEGER" />
    <result column="v7_pk_product" property="v7PkProduct" jdbcType="VARCHAR" />
    <result column="v7_pk_store_quantity" property="v7PkStoreQuantity" jdbcType="VARCHAR" />
    <result column="extends1" property="extends1" jdbcType="VARCHAR" />
    <result column="extends2" property="extends2" jdbcType="VARCHAR" />
    <result column="extends3" property="extends3" jdbcType="VARCHAR" />
    <result column="extends4" property="extends4" jdbcType="VARCHAR" />
    <result column="extends5" property="extends5" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.horse.v7mc.po.V7StoreIn" extends="BaseResultMap" >
    <result column="v7_s_remarks" property="v7SRemarks" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
      
  <!-- ********************************自定义SQL开始****************************** -->
  <!-- 统计总数 -->
  <select id="getTotalAmount" parameterType="com.horse.v7mc.queryVo.StoreQVo" resultType="int">
  	select count(m.id) from V7_STORE_IN m
	  	<where>
	  		1=1 
	  		<if test="brandName !=null and brandName !=''">
				and	m.v7_s_brand like '%${brandName}%'
	  		</if>
	  		<if test="brandType != null and brandType !=''">
	  			and m.v7_s_type like '%${brandType}%'
	  		</if>
	  		<if test="productName != null and productName !=''">
	  			and m.v7_s_name like '%${productName}%'
	  		</if>
	  		<if test="startTime != null and startTime !=''">
	  			and m.v7_s_oper_time &gt; #{startTime}
	  		</if>
	  		<if test="endTime != null and endTime !=''">
	  			and m.v7_s_oper_time &lt; #{endTime}
	  		</if>
	  	</where>
  </select>
  
   <select id="getPageData" parameterType="com.horse.v7mc.queryVo.StoreQVo" resultMap="ResultMapWithBLOBs">
  	select * from V7_STORE_IN m
		 <where>
	  		1=1 
	  		<if test="brandName !=null and brandName !=''">
				and	m.v7_s_brand like '%${brandName}%'
	  		</if>
	  		<if test="brandType != null and brandType !=''">
	  			and m.v7_s_type like '%${brandType}%'
	  		</if>
	  		<if test="productName != null and productName !=''">
	  			and m.v7_s_name like '%${productName}%'
	  		</if>
	  		<if test="startTime != null and startTime !=''">
	  			and m.v7_s_oper_time &gt; #{startTime}
	  		</if>
	  		<if test="endTime != null and endTime !=''">
	  			and m.v7_s_oper_time &lt; #{endTime}
	  		</if>
	  	</where>
		order by m.v7_s_oper_time DESC limit #{beginPageIndex}, #{pageSize} 
  </select>
   
   
  <select id="selectMaxInPrice" parameterType="String" resultType="double">
  		SELECT 
		  MAX(i.v7_s_price) 
		FROM
		  V7_STORE_IN i 
		WHERE i.v7_pk_store_quantity = #{value}
  </select>
  
    <select id="productReport"  parameterType="map" resultType="com.horse.v7mc.po.V7StoreIn" >
  		SELECT 
		  o.v7_s_type v7SType,
		  SUM(o.v7_s_count) v7SCount,
		  SUM(o.v7_s_price_count) v7SPriceCount 
		FROM
		  v7_store_out o 
		WHERE o.v7_s_oper_time &gt; #{startTime}
		  AND o.v7_s_oper_time &lt; #{endTime}
		GROUP BY o.v7_s_type 
  </select> 
  
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, v7_s_brand, v7_s_type, v7_s_name, v7_s_price, v7_s_standard, v7_s_unit, v7_s_price_count, 
    v7_s_count, v7_s_oper_user, v7_s_oper_time, v7_s_update_user, v7_s_update_time, v7_s_status, 
    v7_pk_product, v7_pk_store_quantity, extends1, extends2, extends3, extends4, extends5
  </sql>
  <sql id="Blob_Column_List" >
    v7_s_remarks
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.horse.v7mc.po.V7StoreInExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from V7_STORE_IN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.horse.v7mc.po.V7StoreInExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from V7_STORE_IN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from V7_STORE_IN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from V7_STORE_IN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.horse.v7mc.po.V7StoreInExample" >
    delete from V7_STORE_IN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.horse.v7mc.po.V7StoreIn" >
    insert into V7_STORE_IN (ID, v7_s_brand, v7_s_type, 
      v7_s_name, v7_s_price, v7_s_standard, 
      v7_s_unit, v7_s_price_count, v7_s_count, 
      v7_s_oper_user, v7_s_oper_time, v7_s_update_user, 
      v7_s_update_time, v7_s_status, v7_pk_product, 
      v7_pk_store_quantity, extends1, extends2, 
      extends3, extends4, extends5, 
      v7_s_remarks)
    values (#{id,jdbcType=VARCHAR}, #{v7SBrand,jdbcType=VARCHAR}, #{v7SType,jdbcType=VARCHAR}, 
      #{v7SName,jdbcType=VARCHAR}, #{v7SPrice,jdbcType=DOUBLE}, #{v7SStandard,jdbcType=VARCHAR}, 
      #{v7SUnit,jdbcType=VARCHAR}, #{v7SPriceCount,jdbcType=DOUBLE}, #{v7SCount,jdbcType=INTEGER}, 
      #{v7SOperUser,jdbcType=VARCHAR}, #{v7SOperTime,jdbcType=TIMESTAMP}, #{v7SUpdateUser,jdbcType=VARCHAR}, 
      #{v7SUpdateTime,jdbcType=TIMESTAMP}, #{v7SStatus,jdbcType=INTEGER}, #{v7PkProduct,jdbcType=VARCHAR}, 
      #{v7PkStoreQuantity,jdbcType=VARCHAR}, #{extends1,jdbcType=VARCHAR}, #{extends2,jdbcType=VARCHAR}, 
      #{extends3,jdbcType=VARCHAR}, #{extends4,jdbcType=VARCHAR}, #{extends5,jdbcType=VARCHAR}, 
      #{v7SRemarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.horse.v7mc.po.V7StoreIn" >
    insert into V7_STORE_IN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="v7SBrand != null" >
        v7_s_brand,
      </if>
      <if test="v7SType != null" >
        v7_s_type,
      </if>
      <if test="v7SName != null" >
        v7_s_name,
      </if>
      <if test="v7SPrice != null" >
        v7_s_price,
      </if>
      <if test="v7SStandard != null" >
        v7_s_standard,
      </if>
      <if test="v7SUnit != null" >
        v7_s_unit,
      </if>
      <if test="v7SPriceCount != null" >
        v7_s_price_count,
      </if>
      <if test="v7SCount != null" >
        v7_s_count,
      </if>
      <if test="v7SOperUser != null" >
        v7_s_oper_user,
      </if>
      <if test="v7SOperTime != null" >
        v7_s_oper_time,
      </if>
      <if test="v7SUpdateUser != null" >
        v7_s_update_user,
      </if>
      <if test="v7SUpdateTime != null" >
        v7_s_update_time,
      </if>
      <if test="v7SStatus != null" >
        v7_s_status,
      </if>
      <if test="v7PkProduct != null" >
        v7_pk_product,
      </if>
      <if test="v7PkStoreQuantity != null" >
        v7_pk_store_quantity,
      </if>
      <if test="extends1 != null" >
        extends1,
      </if>
      <if test="extends2 != null" >
        extends2,
      </if>
      <if test="extends3 != null" >
        extends3,
      </if>
      <if test="extends4 != null" >
        extends4,
      </if>
      <if test="extends5 != null" >
        extends5,
      </if>
      <if test="v7SRemarks != null" >
        v7_s_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="v7SBrand != null" >
        #{v7SBrand,jdbcType=VARCHAR},
      </if>
      <if test="v7SType != null" >
        #{v7SType,jdbcType=VARCHAR},
      </if>
      <if test="v7SName != null" >
        #{v7SName,jdbcType=VARCHAR},
      </if>
      <if test="v7SPrice != null" >
        #{v7SPrice,jdbcType=DOUBLE},
      </if>
      <if test="v7SStandard != null" >
        #{v7SStandard,jdbcType=VARCHAR},
      </if>
      <if test="v7SUnit != null" >
        #{v7SUnit,jdbcType=VARCHAR},
      </if>
      <if test="v7SPriceCount != null" >
        #{v7SPriceCount,jdbcType=DOUBLE},
      </if>
      <if test="v7SCount != null" >
        #{v7SCount,jdbcType=INTEGER},
      </if>
      <if test="v7SOperUser != null" >
        #{v7SOperUser,jdbcType=VARCHAR},
      </if>
      <if test="v7SOperTime != null" >
        #{v7SOperTime,jdbcType=TIMESTAMP},
      </if>
      <if test="v7SUpdateUser != null" >
        #{v7SUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="v7SUpdateTime != null" >
        #{v7SUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="v7SStatus != null" >
        #{v7SStatus,jdbcType=INTEGER},
      </if>
      <if test="v7PkProduct != null" >
        #{v7PkProduct,jdbcType=VARCHAR},
      </if>
      <if test="v7PkStoreQuantity != null" >
        #{v7PkStoreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="extends1 != null" >
        #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        #{extends3,jdbcType=VARCHAR},
      </if>
      <if test="extends4 != null" >
        #{extends4,jdbcType=VARCHAR},
      </if>
      <if test="extends5 != null" >
        #{extends5,jdbcType=VARCHAR},
      </if>
      <if test="v7SRemarks != null" >
        #{v7SRemarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.horse.v7mc.po.V7StoreInExample" resultType="java.lang.Integer" >
    select count(*) from V7_STORE_IN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update V7_STORE_IN
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SBrand != null" >
        v7_s_brand = #{record.v7SBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SType != null" >
        v7_s_type = #{record.v7SType,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SName != null" >
        v7_s_name = #{record.v7SName,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SPrice != null" >
        v7_s_price = #{record.v7SPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.v7SStandard != null" >
        v7_s_standard = #{record.v7SStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SUnit != null" >
        v7_s_unit = #{record.v7SUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SPriceCount != null" >
        v7_s_price_count = #{record.v7SPriceCount,jdbcType=DOUBLE},
      </if>
      <if test="record.v7SCount != null" >
        v7_s_count = #{record.v7SCount,jdbcType=INTEGER},
      </if>
      <if test="record.v7SOperUser != null" >
        v7_s_oper_user = #{record.v7SOperUser,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SOperTime != null" >
        v7_s_oper_time = #{record.v7SOperTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.v7SUpdateUser != null" >
        v7_s_update_user = #{record.v7SUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SUpdateTime != null" >
        v7_s_update_time = #{record.v7SUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.v7SStatus != null" >
        v7_s_status = #{record.v7SStatus,jdbcType=INTEGER},
      </if>
      <if test="record.v7PkProduct != null" >
        v7_pk_product = #{record.v7PkProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.v7PkStoreQuantity != null" >
        v7_pk_store_quantity = #{record.v7PkStoreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="record.extends1 != null" >
        extends1 = #{record.extends1,jdbcType=VARCHAR},
      </if>
      <if test="record.extends2 != null" >
        extends2 = #{record.extends2,jdbcType=VARCHAR},
      </if>
      <if test="record.extends3 != null" >
        extends3 = #{record.extends3,jdbcType=VARCHAR},
      </if>
      <if test="record.extends4 != null" >
        extends4 = #{record.extends4,jdbcType=VARCHAR},
      </if>
      <if test="record.extends5 != null" >
        extends5 = #{record.extends5,jdbcType=VARCHAR},
      </if>
      <if test="record.v7SRemarks != null" >
        v7_s_remarks = #{record.v7SRemarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update V7_STORE_IN
    set ID = #{record.id,jdbcType=VARCHAR},
      v7_s_brand = #{record.v7SBrand,jdbcType=VARCHAR},
      v7_s_type = #{record.v7SType,jdbcType=VARCHAR},
      v7_s_name = #{record.v7SName,jdbcType=VARCHAR},
      v7_s_price = #{record.v7SPrice,jdbcType=DOUBLE},
      v7_s_standard = #{record.v7SStandard,jdbcType=VARCHAR},
      v7_s_unit = #{record.v7SUnit,jdbcType=VARCHAR},
      v7_s_price_count = #{record.v7SPriceCount,jdbcType=DOUBLE},
      v7_s_count = #{record.v7SCount,jdbcType=INTEGER},
      v7_s_oper_user = #{record.v7SOperUser,jdbcType=VARCHAR},
      v7_s_oper_time = #{record.v7SOperTime,jdbcType=TIMESTAMP},
      v7_s_update_user = #{record.v7SUpdateUser,jdbcType=VARCHAR},
      v7_s_update_time = #{record.v7SUpdateTime,jdbcType=TIMESTAMP},
      v7_s_status = #{record.v7SStatus,jdbcType=INTEGER},
      v7_pk_product = #{record.v7PkProduct,jdbcType=VARCHAR},
      v7_pk_store_quantity = #{record.v7PkStoreQuantity,jdbcType=VARCHAR},
      extends1 = #{record.extends1,jdbcType=VARCHAR},
      extends2 = #{record.extends2,jdbcType=VARCHAR},
      extends3 = #{record.extends3,jdbcType=VARCHAR},
      extends4 = #{record.extends4,jdbcType=VARCHAR},
      extends5 = #{record.extends5,jdbcType=VARCHAR},
      v7_s_remarks = #{record.v7SRemarks,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update V7_STORE_IN
    set ID = #{record.id,jdbcType=VARCHAR},
      v7_s_brand = #{record.v7SBrand,jdbcType=VARCHAR},
      v7_s_type = #{record.v7SType,jdbcType=VARCHAR},
      v7_s_name = #{record.v7SName,jdbcType=VARCHAR},
      v7_s_price = #{record.v7SPrice,jdbcType=DOUBLE},
      v7_s_standard = #{record.v7SStandard,jdbcType=VARCHAR},
      v7_s_unit = #{record.v7SUnit,jdbcType=VARCHAR},
      v7_s_price_count = #{record.v7SPriceCount,jdbcType=DOUBLE},
      v7_s_count = #{record.v7SCount,jdbcType=INTEGER},
      v7_s_oper_user = #{record.v7SOperUser,jdbcType=VARCHAR},
      v7_s_oper_time = #{record.v7SOperTime,jdbcType=TIMESTAMP},
      v7_s_update_user = #{record.v7SUpdateUser,jdbcType=VARCHAR},
      v7_s_update_time = #{record.v7SUpdateTime,jdbcType=TIMESTAMP},
      v7_s_status = #{record.v7SStatus,jdbcType=INTEGER},
      v7_pk_product = #{record.v7PkProduct,jdbcType=VARCHAR},
      v7_pk_store_quantity = #{record.v7PkStoreQuantity,jdbcType=VARCHAR},
      extends1 = #{record.extends1,jdbcType=VARCHAR},
      extends2 = #{record.extends2,jdbcType=VARCHAR},
      extends3 = #{record.extends3,jdbcType=VARCHAR},
      extends4 = #{record.extends4,jdbcType=VARCHAR},
      extends5 = #{record.extends5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.horse.v7mc.po.V7StoreIn" >
    update V7_STORE_IN
    <set >
      <if test="v7SBrand != null" >
        v7_s_brand = #{v7SBrand,jdbcType=VARCHAR},
      </if>
      <if test="v7SType != null" >
        v7_s_type = #{v7SType,jdbcType=VARCHAR},
      </if>
      <if test="v7SName != null" >
        v7_s_name = #{v7SName,jdbcType=VARCHAR},
      </if>
      <if test="v7SPrice != null" >
        v7_s_price = #{v7SPrice,jdbcType=DOUBLE},
      </if>
      <if test="v7SStandard != null" >
        v7_s_standard = #{v7SStandard,jdbcType=VARCHAR},
      </if>
      <if test="v7SUnit != null" >
        v7_s_unit = #{v7SUnit,jdbcType=VARCHAR},
      </if>
      <if test="v7SPriceCount != null" >
        v7_s_price_count = #{v7SPriceCount,jdbcType=DOUBLE},
      </if>
      <if test="v7SCount != null" >
        v7_s_count = #{v7SCount,jdbcType=INTEGER},
      </if>
      <if test="v7SOperUser != null" >
        v7_s_oper_user = #{v7SOperUser,jdbcType=VARCHAR},
      </if>
      <if test="v7SOperTime != null" >
        v7_s_oper_time = #{v7SOperTime,jdbcType=TIMESTAMP},
      </if>
      <if test="v7SUpdateUser != null" >
        v7_s_update_user = #{v7SUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="v7SUpdateTime != null" >
        v7_s_update_time = #{v7SUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="v7SStatus != null" >
        v7_s_status = #{v7SStatus,jdbcType=INTEGER},
      </if>
      <if test="v7PkProduct != null" >
        v7_pk_product = #{v7PkProduct,jdbcType=VARCHAR},
      </if>
      <if test="v7PkStoreQuantity != null" >
        v7_pk_store_quantity = #{v7PkStoreQuantity,jdbcType=VARCHAR},
      </if>
      <if test="extends1 != null" >
        extends1 = #{extends1,jdbcType=VARCHAR},
      </if>
      <if test="extends2 != null" >
        extends2 = #{extends2,jdbcType=VARCHAR},
      </if>
      <if test="extends3 != null" >
        extends3 = #{extends3,jdbcType=VARCHAR},
      </if>
      <if test="extends4 != null" >
        extends4 = #{extends4,jdbcType=VARCHAR},
      </if>
      <if test="extends5 != null" >
        extends5 = #{extends5,jdbcType=VARCHAR},
      </if>
      <if test="v7SRemarks != null" >
        v7_s_remarks = #{v7SRemarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.horse.v7mc.po.V7StoreIn" >
    update V7_STORE_IN
    set v7_s_brand = #{v7SBrand,jdbcType=VARCHAR},
      v7_s_type = #{v7SType,jdbcType=VARCHAR},
      v7_s_name = #{v7SName,jdbcType=VARCHAR},
      v7_s_price = #{v7SPrice,jdbcType=DOUBLE},
      v7_s_standard = #{v7SStandard,jdbcType=VARCHAR},
      v7_s_unit = #{v7SUnit,jdbcType=VARCHAR},
      v7_s_price_count = #{v7SPriceCount,jdbcType=DOUBLE},
      v7_s_count = #{v7SCount,jdbcType=INTEGER},
      v7_s_oper_user = #{v7SOperUser,jdbcType=VARCHAR},
      v7_s_oper_time = #{v7SOperTime,jdbcType=TIMESTAMP},
      v7_s_update_user = #{v7SUpdateUser,jdbcType=VARCHAR},
      v7_s_update_time = #{v7SUpdateTime,jdbcType=TIMESTAMP},
      v7_s_status = #{v7SStatus,jdbcType=INTEGER},
      v7_pk_product = #{v7PkProduct,jdbcType=VARCHAR},
      v7_pk_store_quantity = #{v7PkStoreQuantity,jdbcType=VARCHAR},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR},
      extends4 = #{extends4,jdbcType=VARCHAR},
      extends5 = #{extends5,jdbcType=VARCHAR},
      v7_s_remarks = #{v7SRemarks,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.horse.v7mc.po.V7StoreIn" >
    update V7_STORE_IN
    set v7_s_brand = #{v7SBrand,jdbcType=VARCHAR},
      v7_s_type = #{v7SType,jdbcType=VARCHAR},
      v7_s_name = #{v7SName,jdbcType=VARCHAR},
      v7_s_price = #{v7SPrice,jdbcType=DOUBLE},
      v7_s_standard = #{v7SStandard,jdbcType=VARCHAR},
      v7_s_unit = #{v7SUnit,jdbcType=VARCHAR},
      v7_s_price_count = #{v7SPriceCount,jdbcType=DOUBLE},
      v7_s_count = #{v7SCount,jdbcType=INTEGER},
      v7_s_oper_user = #{v7SOperUser,jdbcType=VARCHAR},
      v7_s_oper_time = #{v7SOperTime,jdbcType=TIMESTAMP},
      v7_s_update_user = #{v7SUpdateUser,jdbcType=VARCHAR},
      v7_s_update_time = #{v7SUpdateTime,jdbcType=TIMESTAMP},
      v7_s_status = #{v7SStatus,jdbcType=INTEGER},
      v7_pk_product = #{v7PkProduct,jdbcType=VARCHAR},
      v7_pk_store_quantity = #{v7PkStoreQuantity,jdbcType=VARCHAR},
      extends1 = #{extends1,jdbcType=VARCHAR},
      extends2 = #{extends2,jdbcType=VARCHAR},
      extends3 = #{extends3,jdbcType=VARCHAR},
      extends4 = #{extends4,jdbcType=VARCHAR},
      extends5 = #{extends5,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>